.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.heading{
    color : black;
    font-size: 33px;
    font-weight: 600;
    font-family: 'Bree-serif';
    margin-left: 150px;
}
.sort-by-container{
    margin : 3px;
    display: flex;
    justify-content: flex-end;
    margin-right : 66px;
}
.sort{
    color : #212121;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-right: 2px;
}
.select-option{
     padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.2s;
}
.select-option:hover {
  border-color: #888;
}
.option {
  padding: 8px;
  font-size: 16px;
  color: #333;
  background: #fff;
}