.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 1110px;
  margin-top : 20px;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.home-mobile-img {
  width: 206px;
  display: block;
}
.home-heading {
  font-family: 'Bree-Seerif';
  font-weight: bold;
  margin-top: 0px;
  font-size: 41px;
  color: #1e293b;
  text-align: center;
}
.home-description {
  font-family: 'Gerogia';
  margin-top: 36px;
  font-size: 19px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 0;
  text-align: center;
}
.shop-now-button {
  width: 60%;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #0967d2;
  margin-top: 30px;
  cursor: pointer;
}
.home-desktop-img {
  width: 50%;
  max-width: 450px;
  margin-left: 85px;
  display: none;
}
@media screen and (min-width: 992px) {
  .app-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .home-content {
    align-items: flex-start;
    text-align: left;
    flex: 1;
  }
  .home-mobile-img {
    display: none;
  }
  .home-desktop-img {
    display: block;
  }
  .home-heading, .home-description {
    text-align: left;
  }
  .shop-now-button {
    width: 180px;
    margin-left: 0;
  }
}